.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../portadas/mapaWorl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  background-repeat: repeat-y;
  /* Repetir verticalmente */
}

.link {
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: hsla(0, 0%, 0%, 0.955);
  height: 60px;
  width: 200px;
  border-radius: 200px;
  transition: 0.9s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.link:hover {
  background-color: hsl(0, 0%, 100%);
  color: #000000;
}

.titleCON {
  border-radius: 10px;
  padding: 1px;
  margin-bottom: 20px;
  align-items: center;
}

.title {
  font-family: "Prompt", sans-serif;
  color: #000000;
  font-size: xx-large;
  letter-spacing: 5px;
  margin: 20px 0;
}

.flagcontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.flag {
  max-width: 20%;
  height: 20;
  width: 255px;
  border-radius: 5%;
  box-shadow: 16px 17px 24px -6px rgb(0, 0, 0);
  -webkit-box-shadow: 16px 17px 24px -6px rgb(0, 0, 0);
  -moz-box-shadow: 16px 17px 24px -6px rgb(0, 0, 0);
}

.containerACT {
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  border-color: red;
  border: 3px;
  padding: 5% 4%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 92vw;
}

.countryDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.43);
  padding: 20px;
  border-radius: 100px;
  margin: 20px;
  max-width: 400px;
}

.rightActivities {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.43);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 400px;
  border-radius: 100px;
  justify-content: center; /* Alinea el contenido verticalmente en el centro */
  text-align: center;
}

.name {
  font-family: monospace;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  font-size: 36px;
  letter-spacing: 5px;
  min-height: 9px;
  text-shadow: 0px 6px 3px #585857;
}

.dat {
  font-family: monospace;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: justify;
}
.linkB{
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: hsla(0, 0%, 0%, 0.955);
  height: 100px;
  width: 200px;
  border-radius: 200px;
  transition: 0.9s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 20px;
  margin-right: 10px;
}