.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    gap: 15px;
    justify-content: center;
    padding-top: 60px;
    position: relative; /* Establecer posición relativa */
    z-index: 0; 
    
  }